[
    {
        "username": "Your Email",
        "password": "Your Password",
        "proxy": "Your Proxy (HTTPS: user:pass@ip:port / HTTP: ip:port)"
    },
    {
        "username": "Your Email",
        "password": "Your Password",
        "proxy": "Your Proxy (HTTPS: user:pass@ip:port / HTTP: ip:port)"
    }
]
